<div class="ui container">
  <div class="ui icon message">
    <i class="table icon"></i>
    <div class="content">
      <div class="header">
        model\projects
      </div>
      <p>Administration des projets</p>
    </div>
  </div>
  <LinkTo class="ui button orange" @route="projects.new">
    <i class="plus icon"></i> Ajouter un projet
  </LinkTo>
  <table class="ui celled table striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |project|}}
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.detail}}</td>
        <td>{{moment-format project.startDate "YYYY-MM-DD"}}</td>
        <td>{{moment-format project.dueDate "YYYY-MM-DD"}}</td>
        <td><LinkTo class="circular ui icon button inverted grey" @route="projects.edit" @model={{project.id}}><i class="icon edit grey"></i></LinkTo></td>
        <td><LinkTo class="circular ui icon button inverted red" @route="projects.delete" @model={{project.id}}><i class="icon times"></i></LinkTo></td>
        <td><LinkTo class="circular ui icon button inverted grey" @route="project" @model={{project.id}}><i class="icon eye grey"></i></LinkTo></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}